#question_text {
  font-weight: bold;
  font-size: 20px;
  font: Helvetica !important;
  color: #ffffff;
  margin: 4.5% 0 3.5% 4%;
  float:left;
  display: block;
  max-width: 433 !important;
}

#question_stars {
  font-weight: bold;
  font-size: 40px;
  font: Helvetica !important;
  color: #ffffff;
  margin: 0.4em 4% 0 0;
  float:right;
}

/*
margin: top right bottom left;
*/

#question {
  position: fixed;
  left: 0;
  right: 0;
  height: 4.5em;
  width: 35em;
  margin-right: auto;
  margin-left: auto;
  background-color: #000000;
  border: #000000 solid 5px;
  border-radius: 12px;
  top: -1.2em;
  z-index:999
}

#options {
  clear: left;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  width: 32em;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 12px;
  top: 3em;
  z-index:998;
  border: #888888 solid 1px;
}

#option {
  font-weight: bold;
  font-size: 20px;
  font: Helvetica !important;
  margin-left: 1em;
  margin-right: 1em;
  border-top: #888888 solid 1px;
}

#option_sequential {
  font-weight: bold;
  font-size: 20px;
  font: Helvetica !important;
  margin-left: 1em;
  margin-right: 1em;
  border-top: #888888 dashed 1px;
}

#seperator {color:grey; height:1px; width:97%; background:#ccc; border:none;}

/*
margin: top right bottom left;
*/
.card_A {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  border: #888888 solid 1px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px grey;
}

.card_Q {
  background-color: #000000;
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  border: #888888 solid 1px;
  border-radius: 5px;

  box-shadow: 3px 3px 20px grey;
}

#card_text_a {
  font-weight: bold;
  font-size: 20px;
  font: Helvetica !important;
  color: #000000;
  margin: 3% 10% 5% 8%;
  float:left;
}

#card_text_q {
  font-weight: bold;
  font-size: 20px;
  font: Helvetica !important;
  color: #ffffff;
  margin: 3% 10% 5% 8%;
  float:left;
}
.card:after {
  padding-top: 100.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
}
